@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

body {
	font-family: "Nunito", sans-serif;

	font-size: 30px;
	padding: 5rem;
	padding-top: 0;
	background: var(--background);
	color: var(--foreground);
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;

}



button:hover {
	background: var(--highlight);
}