@import './reset.css';
@import './variables.css';
@import './base.css';
@import "./modules/header.css";
@import "./modules/responsive.css";
@import "./modules/searchInput.css";
@import "./modules/eventDetails.css";
@import "./modules/content.css";
@import "./modules/footer.css";