:root {
	--foreground: black;
	--background: hsl(0, 100%, 99%);
	--highlight: hsl(0, 100%, 85%);
	;

	--primary: hsl(0, 100%, 90%);
	--secondary: hsl(0, 100%, 95%);

	--padding: 1rem;

	--border-radius: 0.5rem;
	--border-size: 3px;

	--font-size-large: 1.5rem;
	--font-size-small: 0.75rem;

	--font-size-regular: 1rem;
}