/* Event styles */
.event-container {
	max-width: 1200px;
	width: 100%;
	min-height: auto;
	margin: 0 auto;
	padding: 1rem;
	position: relative;
}

.event__logo-link {
	text-decoration: none;
}

.event__logo:hover {
	font-style: italic;
}

.event__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--foreground);
	color: var(--primary);
	position: relative;
}

.event__logo {
	font-size: 2rem;
	font-weight: bold;
}

.event__info {
	position: relative;
	padding: 1rem 0;
	height: 310px;
	display: flex;
	flex-direction: row;
}

.event__info__background {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 0;
	background-size: cover;
	background-position: center;
	filter: blur(10px);
	z-index: -1;
}

.event-card {
	position: relative;
	display: flex;
	flex-direction: column;

	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 100%;
	max-width: 350px;
	height: 280px;
}

.event-card__image {
	max-width: 400px;
	height: auto;
}

.event-card__details {
	padding: 5px;
	text-align: center;
	height: 200px;
}

.event-card__name {
	font-size: 0.8rem;
	font-weight: 700;
	color: var(--primary);
}

.event-card__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
}

.event-card__details-button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background: var(--button-color);
	color: var(--primary);
	font-size: 1rem;
	cursor: pointer;
	margin-left: 20px;
	font-style: italic;
}

.event-card__details-button:hover {
	background: var(--button-color-hover);
}

.event__classification {
	display: flex;
	flex-direction: row;
	gap: 10px;
	color: var(--primary);
	font-size: 0.8rem;
}

.event__list {
	color: var(--primary);
	font-size: 1rem;
}

.event__footer {
	background-color: var(--foreground);
	color: var(--primary);
	text-align: center;
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
	color: var(--primary);
	margin-top: 10px;
}

/*table styling*/
.event__table {
	margin: 0 auto;
	max-width: 100%;
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 12px;
	text-align: left;
}

th {
	background-color: var(--foreground);
	color: var(--primary);
	font-weight: 700;
	font-size: 1.2rem;
}

tr:nth-child(even) {
	background-color: var(--primary);
}

.event__list-date {
	font-weight: bold;
}

.event__list-venue {
	font-style: italic;
}

.event__list-city {
	font-style: italic;
}

.buy-ticket-button {
	background-color: var(--button-color);
	color: var(--primary);
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.buy-ticket-button:hover {
	background-color: var(--button-color-hover);
}