/* Event styles */
.event {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
}

.event__logo-link {
	text-decoration: none;
	color: #000;
}

.event__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--foreground);
	color: var(--primary);
	position: relative;
}

.event__logo {
	font-size: 2rem;
	font-weight: bold;
}

.event__info {
	position: relative;
	padding: 1rem 0;
	height: 310px;
	display: flex;
	flex-direction: row;
}

.event__info__background {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 0;
	background-size: cover;
	background-position: center;
	filter: blur(10px);
	z-index: -1;
}

.event-card {
	position: relative;
	display: flex;
	flex-direction: column;

	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 100%;
	max-width: 350px;
	height: max-content;

}

.event-card__image {
	max-width: 300px;
	height: auto;

}

.event-card__details {
	padding: 1rem;
	text-align: center;

}

.event-card__name {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--primary);

}

.event-card__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
}

.event-card__details-button {

	padding: 10px;
	border: none;
	border-radius: 5px;
	background: #3507aa;
	color: var(--primary);
	font-size: 1rem;
	cursor: pointer;
	margin-left: 20px;
}

.event-card__details-button:hover {
	background: #011914;
}

.event__list {
	padding: 1rem 0;
}

.event__list-title {
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary);
}

.event__list-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.event__footer {
	background-color: var(--foreground);
	color: #fff;
	text-align: center;
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
	color: var(--primary);

}