.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--foreground);
	color: var(--primary);
}

/* Style the logo */
.header__logo {
	font-size: 1.5rem;
	font-weight: bold;
}

/* Style the main navigation */

.header__menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	/* display: none; */
}

.header__menu-item {
	margin: 10px 0;
}

.header__menu-link {
	display: block;
	padding: 10px;
	text-align: center;
	color: var(--primary);
	text-decoration: none;
	border-radius: 5px;
	font-size: 1rem;
}

.header__menu-link:hover {
	background-color: var(--background);
}